
@{
    Layout = null;
}


    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Forgot Password</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/jquery")
    </head>
    <body>
        <div id="resetpassword"></div>
        <div id="forgot">
            <div>
                <div class=" col-md-4 offset-md-4 ">
                    <h1 class="display-4 text-center ">Forgot Password</h1>
                    <hr />
                    <div class="row mb-3 input-group  ">


                        <div class="row mb-3 input-group  ">
                            @Html.Label("EmailId", "Email Id", new { @class = "form-label text-center ", @id = "emaillabel" })
                            <input type="email" id="email" class="form-control " placeholder="Please enter your registered email" required>
                        </div>

                        <div class="col-sm-4 offset-sm-8">
                            <small id="invalidEmail" class="text-danger">
                                Please enter a valid email!
                            </small>
                        </div>
                        <div class="col-sm-4">
                            <small id="otpsent" class="text-success">
                                OTP sent on Email Id valid for 10 minutes.
                            </small>
                        </div>


                        <div class="row mb-3 input-group  ">
                            @Html.Label("Otp", "OTP", new { @class = "form-label text-center", @id = "otplabel" })

                            <input type="text" id="otp" class="form-control" placeholder="Enter the OTP" min="100000" max="999999" maxlength="6" pattern="^[0-9]{6,6}$" required>
                        </div>

                        <div class="col-sm-4">
                            <small id="otpinvalid" class="text-danger">
                                Invalid OTP!!!
                            </small>
                        </div>

                        <div class="col-sm-4">
                            <small id="otpexpired" class="text-danger">
                                OTP has expired!!!
                            </small>
                        </div>




                        <div class="row mb-3  input-group">
                            <div class="text-center">
                                <input type="button" id="sendotp" value="Send OTP" class="btn btn-success" onclick="VerifyEmail();" />

                                <br />
                                <input type="button" id="verifyotp" value="Verify" class="btn btn-success" onclick="VerifyOtp();" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>







        <script>

        $(document).ready(function () {
            $("#invalidEmail").hide();
            $("#otp").hide();
            $("#otplabel").hide();
            $("#otpexpired").hide();
            $("#otpinvalid").hide();
            $('#email').focus(function () {
                $("#invalidEmail").hide();
                $("#otpsent").hide();
            });
            $('#otp').focus(function () {
                $("#otpexpired").hide();
                $("#otpinvalid").hide();
            });
            $("#otpsent").hide();
            $("#verifyotp").hide();
            

        })


            function VerifyEmail() {
                $("#email").prop("disabled", true);


        $.ajax(
            {
                type: "POST", //HTTP POST Method
                url: '@Url.Action("VerifyEmail", "User")', // Controller/View
                data: '{EmailId: ' + JSON.stringify($("#email").val()) + '}',


                contentType: "application/json; charset=utf-8",
                dataType: "json",
                
                success: function (result) {

                    $("#sendotp").hide();
                    $("#otp").show();

                    $("#otplabel").show();
                    $("#verifyotp").show();
                    $("#otpsent").show();
                    $("#otp").focus();
                    
                    




                },
                error(result) {

                    $("#invalidEmail").show();
                    $("#email").prop("disabled", false);
                }

            });


        }
        function VerifyOtp() {
            var otp = $.trim($("#otp").val());
           
            if (otp.length > 1) {

                $.ajax(
                    {
                        type: "POST", //HTTP POST Method
                        url: '@Url.Action("VerifyOtp", "User")', // Controller/View
                        data: '{Otp: ' + JSON.stringify($("#otp").val()) + ',EmailId: ' + JSON.stringify($("#email").val()) + '}',


                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (result) {
                            if (result == "Valid OTP") {

                                ResetPassword();
                            } else if (result == "OTP has expired!!!") {
                                $("#otpexpired").show();
                                $("#otp").val("");
                            } else if (result == "Invalid OTP") {
                                $("#otpinvalid").show();
                                $("#otp").val("");
                            }





                        },
                        error(result) {
                            console.log("error");

                        }

                    });
            }


    }


        function ResetPassword() {


        $.ajax(
            {
                type: "POST", //HTTP POST Method
                url: '@Url.Action("ResetPassword", "User")', // Controller/View
                data: '{EmailId: ' + JSON.stringify($("#email").val()) + '}',


                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (result) {
                    $("#forgot").hide();
                    $("#resetpassword").html(result);





                }


            });


            }
           

           


        </script>
    </body>
</html>
    
