
@{
    Layout = null;
}


    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Forgot Password</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/jquery")
    </head>
    <body>
        <div id="resetpassword"></div>
        <div id="forgot">
            <div>
                <div class=" col-md-4 offset-md-4 ">
                    <h1 class="display-4 text-center ">Forgot Password</h1>
                    <hr />
                    <div class="row mb-3 input-group  ">


                        <div class="row mb-3 input-group  ">
                            @Html.Label("EmailId", "Email Id", new { @class = "form-label text-center ", @id = "emaillabel" })
                            <input type="email" id="email" class="form-control " placeholder="Please enter your registered email" required>
                        </div>

                        <div class="col-sm-4 offset-sm-8">
                            <small id="invalidEmail" class="text-danger">
                                Please enter a valid email!
                            </small>
                        </div>
                        <div class="col-sm-4">
                            <small id="otpsent" class="text-success">
                                OTP sent on Email Id valid for <b><span id="countdowntimer">30 </span></b>  minutes.
                            </small>
                        </div>


                        <div class="row mb-3 input-group  ">
                            @Html.Label("Otp", "OTP", new { @class = "form-label text-center", @id = "otplabel" })

                            <input type="text" id="otp" class="form-control" placeholder="Enter the OTP" min="100000" max="999999" maxlength="6" pattern="^[0-9]{6,6}$" required>
                        </div>

                        <div class="col-sm-4">
                            <small id="otperror" class="text-danger">
                               
                            </small>
                        </div>

                        
                       




                        <div class="row mb-3  input-group">
                            <div class="text-center">
                                <input type="button" id="sendotp" value="Send OTP" class="btn btn-success" onclick="VerifyEmail();" />

                                <br />
                                <input type="button" id="verifyotp" value="Verify" class="btn btn-success" onclick="VerifyOtp();" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>







        <script>

        $(document).ready(function () {
            $("#invalidEmail").hide();
            $("#otp").hide();
            $("#otplabel").hide();
          
           
            
            $('#email').focus(function () {
                $("#invalidEmail").hide();
                $("#otpsent").hide();
            });
            $('#otp').focus(function () {
                $("#otperror").hide();
               
            });
            $("#otpsent").hide();
            $("#verifyotp").hide();
            

        })


            function VerifyEmail() {
                $("#email").prop("disabled", true);


        $.ajax(
            {
                type: "POST", //HTTP POST Method
                url: '@Url.Action("VerifyEmail", "User")', // Controller/View
                data: '{EmailId: ' + JSON.stringify($("#email").val()) + '}',


                contentType: "application/json; charset=utf-8",
                dataType: "json",
                
                success: function (result) {

                    $("#sendotp").hide();
                    $("#otp").show();

                    $("#otplabel").show();
                    $("#verifyotp").show();
                    $("#otpsent").show();
                    $("#otp").focus();
                    document.getElementById('countdowntimer').innerHTML =
                        05 + ":" + 00;
                    startTimer();


                    
                    
                    




                },
                error(result) {

                    $("#invalidEmail").show();
                    $("#email").prop("disabled", false);
                }

            });


        }
        function VerifyOtp() {
            var otp = $.trim($("#otp").val());
           
            if (otp.length > 1) {

                $.ajax(
                    {
                        type: "POST", //HTTP POST Method
                        url: '@Url.Action("VerifyOtp", "User")', // Controller/View
                        data: '{Otp: ' + JSON.stringify($("#otp").val()) + ',EmailId: ' + JSON.stringify($("#email").val()) + '}',


                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (result) {
                            if (result == "Valid OTP") {

                                ResetPassword();
                            } else if (result == "OTP expired") {
                                $("#otperror").text(result).show();
                                $("#otp").val("");
                            } else if (result == "Invalid OTP") {
                                $("#otperror").text(result).show();
                                $("#otp").val("");
                            } else if (result == "OTP Already Used") {
                                $("#otperror").text(result).show();
                                $("#otp").val("");
                                $("#sendotp").show();
                                $("#error").hide();
                            }





                        },
                        error(result) {
                            console.log("error");

                        }

                    });
            }


    }


        function ResetPassword() {


        $.ajax(
            {
                type: "POST", //HTTP POST Method
                url: '@Url.Action("ResetPassword", "User")', // Controller/View
                data: '{EmailId: ' + JSON.stringify($("#email").val()) + '}',


                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (result) {
                    $("#forgot").hide();
                    $("#resetpassword").html(result);





                }


            });


            }

            function startTimer() {
                var timer;
                clearTimeout(timer);
               
                var presentTime = document.getElementById('countdowntimer').innerHTML;
                var timeArray = presentTime.split(/[:]+/);
                var m = timeArray[0];
                var s = checkSecond((timeArray[1] - 1));
                if (s == 59) { m = m - 1 }
                if (m < 0) {
                    $("#otplabel").hide();
                    $("#verifyotp").hide();
                    $("#otp").hide();
                    $("#otpsent").hide();
                    $("#sendotp").val("Resend Otp").show();
                    $("#email").prop("disabled", false);


                }

                document.getElementById('countdowntimer').innerHTML =
                    m + ":" + s;
                console.log(m)

                if (m >= 0 && (s > 0 || s < 59)) {
                    timer = setTimeout(startTimer, 1000);
}
                
                     
                
              

            }

            function checkSecond(sec) {
                if (sec < 10 && sec >= 0) { sec = "0" + sec }; // add zero in front of numbers < 10
                if (sec < 0) { sec = "59" };
                return sec;
            }
           

           


        </script>
    </body>
</html>
    
